---
permalink: '/search.json'
---

[  
  {% for post in collections.recipe %} 
  { 
    "title":"{{ post.data.title }}",
    "url":"{{ post.url | url }}" 
  }
  {% if loop.last == false %},{% endif %}
{% endfor %}
]