<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
      <p>{{ tagline }}</p>
      <nav>
        <a href="/">Home</a> / <a href="/search">Search</a> /
        <a href="/about">About</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
  <!-- Script for searching -->
  <script type="text/javascript">
    (function (window, document) {
      "use strict";

      const search = (e) => {
        const results = window.searchIndex.search(e.target.value, {
          bool: "OR",
          expand: true,
        });

        const resEl = document.getElementById("searchResults");
        const noResultsEl = document.getElementById("noResultsFound");

        resEl.innerHTML = "";
        if (results) {
          results.map((r) => {
            const { id, title } = r.doc;
            const el = document.createElement("li");
            resEl.appendChild(el);

            const p = document.createElement("p");
            el.appendChild(p);

            const a = document.createElement("a");
            a.setAttribute("href", id);
            a.textContent = title;
            p.appendChild(a);
          });
        } else {
          noResultsEl.style.display = "block";
        }
      };

      fetch("/search-index.json").then((response) =>
        response.json().then((rawIndex) => {
          window.searchIndex = elasticlunr.Index.load(rawIndex);
          document
            .getElementById("searchField")
            .addEventListener("input", search);
        })
      );
    })(window, document);
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
</html>
